.dart_tool
.packages
.pub-cache
build
coverage
.idea
.vscode
android/.gradle
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
ios/Pods
ios/.symlinks
ios/Flutter/ephemeral
macos/Flutter/ephemeral
linux/flutter/ephemeral
windows/flutter/ephemeral
*.log
.git
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.crt
*.cer
*.pem
